body {
    margin: 0;
    padding: 0;
    background-color: rgb(98, 144, 178);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    min-width: 100px;
   min-height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-radius: 10px;
   
     
}



.center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    background-color: #eee;
    justify-content: center;
    align-items: center;
   
}

.contents {
    display: flex;
    padding: 10px;
    justify-content:center;
    justify-content: space-around;
    
}

.textDiv {
    display: flex;
}

.btnDiv {
    padding: 10px;
    margin: auto;
    text-align: center;
}

.btn {
    background-color: rgb(90, 163, 167);
    border: none;
    padding: 8px;
    color: white;
}


.results {
    
    font-weight: bold;


   display: inline-block;
  text-align: right;
    

   
}

textarea {
    border-radius: 10px;
    border: 1px solid rgb(209, 214, 194);
}

.main {    
position: fixed;
width: 500px;
height: 200px;
top: 50%;
left: 50%;
margin-top: -100px; /* Negative half of height. */
margin-left: -250px; /* Negative half of width. */

}

.footer {
    display:flex;
    justify-content:center;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    body {
        
        
    }

    .container {
        width: 0;
    }

    .results {
        
    }

    
    
  }







